@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

@font-face {
    font-family: bigjohn;
    src: url(../fonts/bigjohn.otf);
}

@font-face {
    font-family: caviardreams;
    src: url(../fonts/caviardreams.ttf);
}

/*
*{
    font-family: 'Poppins', sans-serif ;
}
*/
h1, h2 {
    /*font-family: bigjohn;*/
    font-family: 'Raleway', sans-serif;
}

h3, h4, h5, h6 {
    font-family: caviardreams;
}

.minh-100 {
    height: 100vh;
}

:root {
    --main-bg-color: rgba(70, 249, 249, 1);
    --second-color: rgba(147, 39, 143, 1);
    --third-color: #5e5e5e;
    --rpj-color: rgba(150, 201, 3, 1);
}

body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


h1 {
    color: var(--second-color);
}

h2 {
    color: var(--third-color);
}

h3, h4 {
    color: var(--second-color);
}

#scuare {
    background-color: white;
}

.btn-primary {
    background-color: var(--second-color);
    border: 3px solid var(--third-color);
}

.btn-primary:hover {
    background-color: var(--third-color);
    border: 3px solid var(--second-color);
}


/* placeholder text center */

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

input {
    text-align: center;
}

.respuesta{
    color: var(--third-color);
}

.primary-color {
    color: var(--second-color);
}

.secondary-color {
    color: var(--rpj-color);
}

.primary-bg-color {
    background-color: var(--third-color);
    color: white;
}

.secondary-bg-color {
    background-color: var(--second-color);
    color: white;
}

.third-bg-color {
    background-color: var(--rpj-color);
    color: white;
}

.fourth-bg-color {
    background-color: var(--main-bg-color);
    color: black;
}





.progress-bar {
    background-color: var(--second-color);
}

.form-check-input:checked{
    background-color: var(--second-color);
    border-color: var(--second-color);
}

/* height charts */
.wrapper {
    height: 350px !important;
}

/* text readble better */
.text-readble{
    line-height: 2;
    padding: 20px;
    width: 70%;
}

/* print media-query */
@page {
    size: 25cm 35.7cm;
    margin: 5mm 5mm 5mm 5mm; /* change the margins as you want them to be. */
}

/* media queries for graphs */
@media only screen and (min-width: 768px) {
    .graph {
        padding-left: 15%; 
        padding-right: 15%;
    }
    .graph-small {
        padding-left: 30%;
        padding-right: 30%;
    }
}